<%- include('header')%>
<form action="/user/adduser" method="post" style="width: 500px; margin: 0 auto;">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
      <input type="text" class="form-control" name="name" aria-describedby="emailHelp">  
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Đăng kí</button>
  </form>