<%- include('header')%>

<div style="display: flex; justify-content: center;">
   
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 120px;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm Mới</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tên Danh Mục</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
               
                <tbody>
                    <% for (let products of catalogs) { %>
                    <tr>
                        <td scope="col"><%= products.nameCategory %></td>
                        <td scope="col"><button type="button" class="btn btn-danger"onclick="deleteCategory('<%= products.idCategory %>')">Xóa</button></td>
                        <td scope="col"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModall">Cập Nhật</button></td>
                    </tr>
                    <% } %>
                </tbody>
                
            </table>
        </main>
    
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Danh mục</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/addnew" method="post">
                <label for="categoryName">Tên danh mục:</label>
                <input type="text" id="categoryName" name="categoryName" required><br>
                
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" id="addcategoriesButton" data-bs-dismiss="modal">Thêm danh mục</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cập Nhật Danh mục</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/addneww/idCategory=<%= catalogs.idCategory %>" method="post">
                <label for="categories">Tên danh mục:</label>
                <input type="text" id="updatecategories" name="categoryName" required><br>
                <button type="submit" id="updatecategoriesButton" data-bs-dismiss="modal">Cập nhật danh mục</button>
            </form>
        </div>
        
      </div>
    </div>
</div>

  

